@model Post

<style>
    .title {
        font-weight: bold;
        font-size: 3em;
    }

    .description-container {
        margin-left: 40px;
        margin-right: 20px;
        min-height: 50vh;
    }

    .create-comment {
        margin: 20px;
    }

    .comment-list {
        list-style: none;
        list-style-type: none;
        padding: 0;
    }
</style>

<h2 class="title">@Model.Title</h2>
<div class="d-flex justify-content-between">
    <h4>Author : <a class="link-dark text-decoration-none fw-bold" href="#">@Model.Author.UserName</a></h4>
    <div>@Model.CreatedDate</div>
</div>

<hr/>

<div class="description-container">@Html.Raw(Model.Description)</div>
<hr/>
<div class="create-comment">
    @await Component.InvokeAsync("CreateComment", Model.Id)
</div>

<h3><strong>@Model.Comments.Count</strong> Comments</h3>
@foreach (var comment in Model.Comments) {
    <ul class="comment-list">
        <li>
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <a>@comment.Author.UserName</a>
                    <div>@comment.CreatedTime</div>
                </div>
                <div class="card-body">@Html.Raw(comment.Description)</div>
            </div>
        </li>
    </ul>
}