@model Post

@{
    bool isAuthor = ViewBag.IsAuthor;
}

<style>
    .title {
        font-weight: bold;
        font-size: 3em;
    }

    .description-container {
        margin-left: 40px;
        margin-right: 20px;
        min-height: 50vh;
    }

    .create-comment {
        margin: 20px;
    }

    .comment-list {
        list-style: none;
        list-style-type: none;
        padding: 0;
    }
</style>


<div class="d-flex justify-content-between">
    <h2 class="title flex-fill">@Model.Title</h2>
    @if (isAuthor) {
        <div class="d-flex">
            <a class="btn btn-info m-3" asp-controller="Post" asp-action="Edit" asp-route-postId="@Model.Id">Edit</a>
            <a class="btn btn-danger m-3" asp-controller="Post" asp-action="Delete" asp-route-postId="@Model.Id">Delete</a>
        </div>
    }
</div>

<div class="d-flex justify-content-between">
    <h4>Author : <a class="link-dark text-decoration-none fw-bold" asp-controller="User" asp-action="Profile" asp-route-userId="@Model.AuthorId">@Model.Author.UserName</a></h4>
    <div>@Model.CreatedDate</div>
</div>

<hr/>

<div class="description-container">@Html.Raw(Model.Description)</div>
<partial name="_ReactionsPartial" model="@Model.Id"/>
<hr/>
<div class="create-comment">
    @await Component.InvokeAsync("CreateComment", Model.Id)
</div>

<h3><strong>@Model.Comments.Count</strong> Comments</h3>
@foreach (var comment in Model.Comments) {
    <ul class="comment-list">
        <li>
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <a asp-controller="User" asp-action="Profile" asp-route-userId="@comment.AuthorId">@comment.Author.UserName</a>
                    <div>@comment.CreatedTime</div>
                </div>
                <div class="card-body">@Html.Raw(comment.Description)</div>
            </div>
        </li>
    </ul>
}