@model Data.ViewModels.Section.SectionViewModel

<style>
    .tag-container {
        width: 20%;
        background-color: #dddddd;
        border-radius: 5px;
        padding: 15px;
        margin-right: 15px;
    }

    .tag-title {
        margin: 5px;
    }

    .post-container {
        width: 50%;
    }

    .title {
        font-size: 1.3em;
    }

    .author {
        font-size: 0.8em;
        color: #333333;
    }
</style>

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<a class="btn btn-success" asp-controller="Post" asp-action="Add" asp-route-sectionId="@Model.Id"><strong>Add post</strong></a>
<hr/>

<div class="d-flex">
    <div class="tag-container">
        <span class="tag-title">Most popular tags</span>
        @foreach (var tag in Model.PopularTags) {
            <div class="btn btn-outline-success btn-sm">@tag.Name @tag.PostCount</div>
        }
    </div>

    <div class="post-container">
        @if (!Model.PostsModels.Any()) {
            <p>Nothing has been posted here yet</p>
        }
        <ul class="list-group">
            @foreach (var post in Model.PostsModels) {
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div class="author">@post.AuthorName</div>
                        <div>@post.CreatedDate</div>
                    </div>
                    <div class="ms-2 me-auto">
                        <a class="fw-bold title" asp-controller="Post" asp-action="View" asp-route-postId="@post.Id">@post.Title</a>
                        @Html.Raw(post.ShortenedDescription)
                    </div>
                    <div class="d-flex">
                        <div>
                            @foreach (var tag in post.TagsList) {
                                <div class="btn btn-outline-success d-inline-block">@tag</div>
                            }
                        </div>
                        <span class="badge bg-primary rounded-pill">@post.CommentCount</span> <em>Replies</em>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>